* {
background-color:white;
}
body{
margin:0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding:0px;
  overflow:hidden;
  background-color:#333;
  border-radius:0px;
  width:100%;
}

li{
    display: inline;
    float:left;
    background-color:#333;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  background-color:#333;
}

li a:hover {
  background-color:Green;
  color: white;
}

.active {
  background-color: #04AA6D;
  color: white;
}
div.Input{
background-color:#333;
height:30px;
padding:10px;
}
label{
display:inline;
color:white;
background-color:#333;
}

Input{
radius:20px;
}